@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------*/
.header__list .header__link {
  font-family: "Heebo";
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.works__box .work__info .work__title {
  font-family: "Heebo";
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #21243D;
  margin: 0px 0px 14px 0px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .8;
  z-index: 2;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .header__wrapper .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    left: 30px;
  }
  .header__wrapper .header__burger::after,
  .header__wrapper .header__burger::before {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__wrapper .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__wrapper .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__wrapper .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__wrapper .header__burger::before {
    top: 0;
  }
  .header__wrapper .header__burger::after {
    bottom: 0;
  }
  .header__wrapper .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__wrapper .header__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100%;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    padding: 70px 10px 20px 30px;
  }
  .header__wrapper .header__menu.active {
    top: 0;
  }
  .header__wrapper .header__body {
    height: 50px;
  }
  .header__wrapper .header__list {
    display: block;
  }
  .header__wrapper .header__list li {
    margin: 0px 0px 20px 0px;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 15% 0px 0px;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.header__list .header__link {
  color: #000;
}

.header__list .active {
  color: #FF6464;
}

.header__list li:not(:last-child) {
  margin-right: 33px;
}

.container {
  max-width: 866px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: none;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 359px;
    margin: 0 auto;
  }
}

.works__title {
  font-family: "Heebo";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  padding: 90px 10px 0px;
}

@media (max-width: 480px) {
  .works__title {
    font-size: 30px;
    line-height: 20px;
    padding: 64px 10px 0;
    margin: 0px 0px 33px 0px;
  }
}

.works__box {
  margin: 22px 0px 0px 0px;
  padding: 0 10px;
}

@media (max-width: 480px) {
  .works__box {
    margin: 0;
  }
}

.works__box a {
  display: inline-block;
}

.works__box a::after {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  background: #E0E0E0;
  margin: 30px 0;
}

@media (max-width: 480px) {
  .works__box a::after {
    margin: 17px 0;
  }
}

.works__box .work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .works__box .work__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.works__box .work__pic img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
}

@media (max-width: 480px) {
  .works__box .work__pic img {
    border-radius: 6px;
    margin: 0px 0px 16px 0px;
    width: 339px;
  }
}

.works__box .work__pic {
  max-width: 100%;
}

.works__box .work__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 18px;
}

@media (max-width: 480px) {
  .works__box .work__info {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  .works__box .work__info .work__title {
    font-size: 24px;
    line-height: 30px;
  }
}

.works__box .work__info .work__dateinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 17px 0px;
}

.works__box .work__info .work__dateinfo .work__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Heebo";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #142850;
  border-radius: 16px;
  padding: 0 10px;
  margin: 0px 26px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .works__box .work__info .work__dateinfo .work__date {
    font-size: 16px;
    line-height: 20px;
  }
}

.works__box .work__info .work__dateinfo .work__desc {
  font-family: "Heebo";
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
}

@media (max-width: 480px) {
  .works__box .work__info .work__dateinfo .work__desc {
    font-size: 16px;
    line-height: 20px;
  }
}

.works__box .work__info .work__text {
  font-family: "Heebo";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

.footer {
  margin: 53px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.footer a svg {
  margin: 0px 0px 26px 0px;
}

.footer .copy {
  margin: 0px 0px 54px 0px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243D;
  text-align: center;
}
